// File: secrets.auto.pkrvars.hcl 
proxmox_host         = "192.168.122.10"                         // IP - Proxmox Host  
proxmox_token_id     = "packer-user@pve!packer-token"           // Packer_user - User for Proxmox Host
proxmox_token_secret = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXX"        // Packer user - API token
root_ssh_password    = "root_password"                          // root - password
